<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infosys1d_amigoproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".projectmanagement_tab.InfintieScrolling"></activity>
        <activity android:name=".projectmanagement_tab.EditPojects" />
        <activity android:name=".projectmanagement_tab.CreateNewProject" />
        <activity android:name=".profilemanagement_tab.profileactivity" />
        <activity android:name=".chat_tab.MessageActivity" />
        <activity android:name=".profilesetup.ProfileSetupSkills" />
        <activity android:name=".profilesetup.ProfileSetupProfilePic" />
        <activity android:name=".profilesetup.ProfileSetupLookingFor" />
        <activity android:name=".profilesetup.ProfileSetupAboutMe" />
        <activity android:name=".signinsignup.SignIn" />
        <activity android:name=".signinsignup.SignUp" />
        <activity android:name=".projectmanagement_tab.ExploreProjectListings" />
        <activity android:name=".projectmanagement_tab.ProjectDetails" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.Onboarding" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>